
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-image: url('back.jpg'); 
  background-size: cover; 
  background-position: center; 
  border-bottom: 1px solid #ccc;
}

.logo {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: rgb(6, 50, 225); 
}

.search {
  flex: 1;
  margin: 0 20px;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.actions {
  display: flex;
  gap: 20px;
}

.navItem {
  text-decoration: none;
  color: rgb(252, 30, 30); 
  font-family: Arial, sans-serif;
}
